<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ss_salt.android.taskee">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_taskee"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/TaskeePurple">

        <activity android:name=".packages.activites.TaskListActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".packages.activites.SubTaskListActivity" />

        <activity android:name=".packages.activites.ChildTaskListActivity" />

        <activity android:name=".packages.activites.SettingsActivity" />
    </application>

</manifest>